*{margin: 0; padding: 0; box-sizing: border-box;}
@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #000000;
$blue: #212542;
$red: #fa0101;
$green: #1bad53;
body {
    box-sizing: border-box;
    color: #000000;
    padding: 0 !important;
    font-size: 16px;
    line-height: 1.5;
    transition: .3s all;
    position: relative;
    font-weight: normal;
    // font-family: 'Intro'; 
    font-family: 'UTM';
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;        
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;  
    }    
    h1, h2, h3, h4, h5, h6 { 
        font-family: 'Intro';
    }    
    a { 
        transition: .3s all !important; 
        color: #272727; 
        &:hover {
            color: $red;      
        }  
    }  
    ul {     
        padding: 0;  
        margin: 0; 
    }   
    input, button {    
        outline: none !important; 
        box-shadow: none; 
        transition: .3s all; 
    }
    .slick-slide {
        height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1260px;
    } 
    img {
        max-width: 100%;
    }
    .container-fluid {
        padding: 0 45px;
    }
}
.avarta {
    overflow: hidden;
    position: relative;
    img {
        transition: .5s all !important;
        &:hover {
            transform: scale(1.05);
        }
    }
}
.slick-slider {
    margin-bottom: 0;
}

section {
    position: relative;
}
@import "layer.scss";

.content-machine {
    .row {
        margin: 0 -10px;
        >div {
            padding: 0 10px;
        }
    }
    .col-300 {
        flex: 0 0 330px;
        max-width: 330px;
    }
    .col-left {
        flex: 0 0 calc(100% - 330px);
        max-width: calc(100% - 330px);
    }
}

.box_cssk {
    margin-bottom: 20px;
    border: 1px solid $green;
    .footer_box_cssk {
        background: #c5db54;
        color: #fff;
        padding: 5px 2px;
        line-height: 1;
        font-size: 7.5px;
        font-weight: bold;
        text-align: center;
    }
}
.head-cssk {
    margin-bottom: -24px;
}
.list-cssk {
    padding: 10px;
}
.item-cssk {
    display: flex;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    .avarta {
        flex: 0 0 65px;
        margin-right: 10px;
        img {
            border: 1px solid $green;
        }
    }
    .info {
        a {
            display: block;
            font-size: 13px;
            font-weight: bold;
            color: $green;
        }
    }
}

.box-tieudiem {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.item-slide-td {
    position: relative;
    display: flex;
    color: #000000;
    .avarta {
        flex: 0 0 70%;
        position: relative;
        span {
            position: absolute;
            top: 10px;
            left: 10px;
            text-transform: uppercase;
            pointer-events: none;
            display: flex;
        }
        label {
            background: #0f8a44;
            height: 39px;
            display: flex;
            align-items: center;
            padding: 0 10px 0 20px;
            border-radius: 0 0 0 20px;
            color: #fff;
        }
    }
    .info {
        flex: 0 0 30%;
        background: #f3f4f8;
        padding: 15px;
        position: relative;
        a {
            display: block;
            color: $green;
            font-weight: 600;
            font-size: 25px;
            line-height: 1.1;
            margin-bottom: 12px;
        }
        .desc {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
        }
    }
    ul {
        list-style: none;
    }
}

.slide-td-hot {
    .slick-dots {
        top: unset;
        bottom: 15px;
        padding-right: 32%;
    }
}

.bot-tieudiem {
    font-size: 15px;
    font-family: 'Intro';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 6px 15px;
    border-top: 1px solid #aaa;
}

.list-tieudiem {
    padding: 20px 0 0 0;
    .row {
        margin: 0 -10px;
        >div {
            padding: 0 10px;
        }
    }
    .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.td-small {
    .info {
        a {
            display: block;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.3;
            margin-top: 10px;
        }
    }
}

.box-ads {
    margin-bottom: 20px;
}

.item-news {
    display: flex;
    .avarta {
        flex: 0 0 400px;
        margin-right: 20px;
    }
    .info {
        a {
            display: block;
            font-weight: 600;
            font-size: 22px;
            color: $green;
        }
    }
}
.date {
    color: #47484A;
    padding: 10px 0;
    font-size: 12px;
    font-family: 'Intro';
}

.item-box-new {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.title_line {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    &:before {
        content: "";
        width: 8px;
        height: 8px;
        background: $green;
        border-radius: 100%;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
    &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, $green , #fff);
    }
    a {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
        color: $green;
    }
}

.title {
    margin-bottom: 15px;
    a {
        display: flex;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff !important;
        span {
            background: #0e8a44;
            display: flex;
            height: 44px;
            align-items: center;
            padding: 4px 0 0 20px;
            border-radius: 25px 0 0 0;
            position: relative;
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: -40px;
                left: 0;
                background: #0e8a44;
                z-index: -1;
            }
            &.not-bg {
                &:before {
                    display: none;
                }
            }
        }
    }
}

.title-prd {
    border-bottom: 1px solid #aaa;
    margin-bottom: 15px;
    padding-bottom: 10px;
    a {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: $green;
    }
}

.list-news-prd {
    background: #f3f4f8;
    padding: 20px;
    border-radius: 20px 0 0 0;
}
.box-new-prd {
    padding: 30px 0;
}

.item-new-prd {
    .info {
        a {
            font-weight: 600;
            font-size: 16px;
            display: block;
            margin-top: 10px;
            color: #040505;
        }
    }
}

.list-tags-cate {
    background: #fff;
    padding: 15px;
    border-radius: 20px 0 0 0;
    position: relative;
    margin-bottom: 20px;
    &:after {
        background: linear-gradient(to right, #1bad53, #fff);
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:before {
        content: "";
        width: 8px;
        height: 8px;
        background: #1bad53;
        border-radius: 100%;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        display: inline-flex;
        font-weight: 600;
        background: #f3f4f8;
        border-radius: 30px;
        padding: 3px 10px;
        color: $green;
        font-family: Intro;
        &:hover {
            background: #ec7d23;
            color: #fff;
        }
    }
}

.item-new-cate {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
    .desc {
        color: #000000;
        font-weight: 500;
    }
    .item {
        display: flex;
        margin-bottom: 15px;
        .avarta {
            flex: 0 0 300px;
            margin-right: 20px;
        }
        .top {
            h3 {
                line-height: 0.9;
            }
            a {
                font-weight: 600;
                font-size: 20px;
                position: relative;
                &.link-cate {
                    text-transform: uppercase;
                    color: $green;
                    &:after {
                        content: "|";
                        padding: 0 8px;
                    }
                }
            }
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li {
            flex: 0 0 50%;
            padding-right: 15px;
            margin-top: 5px;
        }
        a {
            display: block;
            color: #5A5B5E;
            font-size: 15px;
            position: relative;
            padding-left: 15px;
            &:after {
                content: "";
                width: 6px;
                height: 6px;
                background: $green;
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 9px;
            }
        }
    }
}

.big-new-cate {
    background: #f3f4f8;
    height: 100%;
    padding: 15px;
    .avarta {
        margin-bottom: 15px;
    }
    .info {
        a {
            display: block;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 10px;
            color: $green;
        }
    }
}

.item-small-cate {
    display: flex;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .avarta {
        flex: 0 0 155px;
        margin-right: 15px;
    }
    .info {
        h2 {
            a {
                font-weight: 600;
                display: block;
                font-size: 18px;
                color: $green;
            }
        }
        h3 {
            a {
                font-size: 17px;
                font-weight: 600;
                display: block;
            }
        }
    }
    .desc {
        font-size: 14px;
    }
    &.small-share {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #aaa;
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0px solid #aaa;
        }
    }
}

.box-item-cate {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    &:after {
        background: linear-gradient(to right, #1bad53, #fff);
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:before {
        content: "";
        width: 8px;
        height: 8px;
        background: #1bad53;
        border-radius: 100%;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
}

.view-other {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Intro';
    a {
        position: relative;
        color: $green;
        &:after {
            content: ",";
        }
    }
}

.pagination {
    margin-bottom: 50px;
    font-family: 'Intro';
    ul {
        display: flex;
        align-items: center;
    }
    li {
        padding-right: 30px;
        &:last-child {
            padding-right: 0;
        }
    }
    a {
        font-weight: 600;
        &.active, &:hover {
            color: $green;
        }
        &.pg-left {
            color: #fff !important;
            width: 18px;
            height: 30px;
            display: flex;
            align-items: center;
            background: $green;
            justify-content: center;
            color: #fff;
            border-radius: 50px 0 0 40px;
        }
        &.pg-right {
            color: #fff !important;
            width: 18px;
            height: 30px;
            display: flex;
            align-items: center;
            background: $green;
            justify-content: center;
            color: #fff;
            border-radius: 0 50px 40px 0;
        }
    }
}

.slide-sp {
    margin: 0 -10px;
    .item-slide {
        padding: 0 10px;
    }
}

.item-sp {
    display: flex;
    font-size: 14px;
    line-height: 1.3;
    .avarta {
        flex: 0 0 160px;
        margin-right: 10px;
    }
    .info {
        a {
            font-weight: 600;
            display: block;
            font-size: 15px;
            color: #000000;
            line-height: 1.3;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .date {
            padding: 5px 0;
        }
        .desc {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            color: #000000;
        }
    }
}
.box-sp-sp {
    background: #f3f4f8;
    padding: 40px 30px 20px 30px;
    margin-top: -20px;
}

.adb-bar {
    .item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.item-new-small {
    display: flex;
    line-height: 1.3;
    font-size: 14px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .avarta {
        flex: 0 0 155px;
        margin-right: 10px;
    }
    .info {
        a {
            display: block;
            font-size: 16px;
            font-weight: 600;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .date {
            padding: 8px 0 4px 0;
        }
        .desc {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

.item-tip-big {
    .avarta {
        margin-bottom: 10px;
        img {
            min-height: 300px;
            object-fit: cover;
        }
    }
    .info {
        a {
            display: block;
            font-size: 20px;
            font-weight: 600;
            color: $green;
        }
    }
}

.box-author {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #aaaa;
    h1 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 25px;
    }
}
.content-author {
    display: flex;
    .left {
        flex: 0 0 95px;
        margin-right: 50px;
    }
    .avar {
        padding: 15px 0;
    }
    h6 {
        color: $green;
        font-size: 20px;
        font-weight: 600;
    }
}
.info-author {
    font-weight: 600;
    font-size: 20px;
    a {
        color: $green;
    }
    ul {
        list-style: none;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        font-weight: normal;
        font-family: Intro;
    }
}

.quote-nendoc {
    max-width: 335px;
    float: right;
    margin: 15px 0 15px 20px;
    .col-md-6 {
        margin-top: 20px;
        &:first-child, &:nth-child(2) {
            margin-top: 0;
        }
    }
    .title-gr {
        font-size: 16px;
        margin-bottom: -8px;
        img {
            height: 33px;
        }
        span {
            height: 33px;
        }
    }
}
.item-nendoc {
    .info {
        padding-top: 10px;
        a {
            display: block;
            font-size: 14px;
            font-weight: 600;
            font-family: 'UTM';
            text-align: initial;
            line-height: 1.3;
        }
    }
}

.list-nendoc {
    border: 1px solid $green;
    border-radius: 0 0 15px 15px;
    background: #fff;
    padding: 20px;
}

.content-detail{
    font-family: Intro;
    font-size: 18px;
    ul {
        padding-left: 18px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.list-link-detail {
    ul {
        list-style: none;
        font-weight: 600;
        padding-left: 0;
        li {
            border-bottom: 1px solid #aaa;
        }
    }
    a {
        position: relative;
        display: block;
        color: $green;
        padding: 10px 0;
        padding-left: 15px;
        &:after {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: #1bad53;
            position: absolute;
            left: 0;
            top: 20px;

        }
    }
}
.title-gr {
    a {
        display: inline-flex;
        align-items: center;
    }
    span {
        position: relative;
        display: inline-flex;
        height: 39px;
        align-items: center;
        background: #0f8a44;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Intro';
        padding: 0 10px 0 20px;
        border-radius: 20px 0 0 0;
    }
}
.chuyende {
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px 0 20px;
    ul {
        padding-left: 0;
    }
    a {
        position: relative;
        color: $green;
        &:after {
            content: ",";
        }
    }
}

.author-detail {
    font-weight: 600;
    color: $green;
}

.detail {
    position: relative;
    padding: 0 20px 25px 20px;
    &:After {
        content: "";
        width: 8px;
        height: 8px;
        background: #1bad53;
        border-radius: 100%;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
    &:before {
        background: linear-gradient(to right, #1bad53, #fff);
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.note-detail {
    position: relative;
    padding: 25px 0;
    color: #257832;
    font-family: 'UTM';
    margin-bottom: 25px;
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:After {
        content: "";
        width: 8px;
        height: 8px;
        background: #1bad53;
        border-radius: 100%;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
    &:before {
        background: linear-gradient(to right, #1bad53, #fff);
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.list-news-read {
    background: #f3f4f8;
    padding: 20px;
    border-radius: 20px 0 0 0;
    .row {
        margin: 0 -5px;
        >div {
            padding: 0 5px;
            &.col-md-6 {
                padding-top: 10px;
            }
        }
    }
}
.item-other-new {
    a {
        display: block;
        font-size: 17px;
        font-family: 'UTM';
        color: #144B35;
        margin-top: 10px;
    }
    h5 {
        a {
            color: #5A5B5E;
            font-size: 15px;
            position: relative;
            padding-left: 15px;
            &:after {
                content: "";
                width: 6px;
                height: 6px;
                background: green;
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 8px;
            }
        }
    }
}

.list-cateother {
    padding: 25px 40px;
    margin: 30px 0;
    border: 2px solid #f3f4f8;
    .row {
        margin: 0 -30px;
        >div {
            padding: 0 30px;
        }
    }
    .title-gr {
        position: absolute;
        top: -50px;
        left: 30px;
        z-index: 2;
        img {
            height: 39px;
        }
    }
}
.item-cateother {
    .info {
        a {
            display: block;
            font-size: 18px;
            color: #144B35;
            font-family: 'UTM';
            margin-top: 8px;
        }
    }
}
.other-news-detail {
    margin: 20px 0;
}
.not-cmt {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    a {
        color: $green;
    }
}
.info-bott-detail {
    padding: 0 18px;
    .like-share {
        margin-bottom: 20px;
    }
}
.tags-detail {
    font-family: 'UTM';
    font-size: 16px;
    span {
        display: inline-flex;
        background: #257832;
        border-radius: 30px;
        height: 30px;
        color: #fff;
        align-items: center;
        padding: 0 15px 2px 15px;
    }
    a {
        display: inline-flex;
        background: #f3f4f8;
        border-radius: 30px;
        height: 30px;
        color: #257832;
        align-items: center;
        padding: 0 15px 2px 15px;
        &:hover {
            background: #ec7d23;
            color: #fff;
        }
    }
}

.chuyende-top {
    font-size: 14px;
    font-family: 'Intro';
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    .list-chuyende-top {
        padding: 0 15px;
    }
}

.slide-video {
    margin: 0 -7px;
    .item-slide {
        padding: 0 7px;
    }
}
.item-video {
    font-family: UTM;
    .avarta {
        position: relative;
        .play-video {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            top: 0;
            left: 0;
        }
    }
    .info {
        a {
            font-family: 'UTM';
            display: block;
            font-size: 18px;
            color: green;
            margin-top: 10px;
        }
    }
}

.box-video {
    padding: 0 0 30px 0;
}
.content-video {
    background: #f3f4f8;
    padding: 20px 30px;
    border-radius: 20px 0 0 0;
}

.big-col {
    margin-bottom: 12px;
    .info {
        a {
            font-size: 15px;
            display: block;
            font-weight: 600;
            margin-top: 10px;
        }
    }
}

.box-faq {
    border: 1px solid #1bad53;
    border-bottom: 0;
    .top {
        position: relative;
    }
    .i-quss {
        position: absolute;
        top: 18px;
        left: 10px;
    }
    .head-gmp-hs {
        display: flex;
        align-items: center;
        background: #1bad53;
        justify-content: space-between;
        color: #fff;
        padding: 10px 10px 10px 70px;
    }
    .cate {
        a {
            font-weight: bold;
            font-size: 18px;
            display: flex;
            color: #fff;
            font-family: 'Intro';
        }
    }
    .hotline {
        img {
            position: relative;
            margin-right: 5px;
        }
        span {
            position: relative;
            padding-bottom: 4px;
        }
        a {
            color: #1bad53;
            background: #fff;
            border-radius: 30px;
            font-weight: 600;
            display: flex;
            align-items: center;
            line-height: normal;
            height: 25px;
            font-size: 14px;
            padding: 0 10px;
        }
    }
    .slogan {
        background: #818285;
        padding: 10px 10px 10px 70px;
        color: #fff;
        font-size: 13px;
    }
}
.footer-gmp-hs {
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        background: #1bad53;
        li {
            border-right: 5px solid #fff;
            &:last-child {
                border-right: 0;
            }
        }
    }
    a {
        color: #fff !important;
        align-items: center;
        font-size: 15px;
        display: flex;
        padding: 7px 10px 9px 10px;
        font-weight: bold;
        i {
            position: relative;
            top: 1px;
            margin-right: 6px;
        }
    }
}

.tab-content {
    display: none;
    &.active {
        display: block;
    }
}

.tab-top {
    background: #e8e7e7;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 600;
        font-size: 14px;
    }
    a {
        color: #4aaa46;
        padding: 10px 5px;
        display: flex;
        &.active {
            color: #0E640A;
        }
    }
}

.list-new-tab {
    padding: 15px;
}
.item-new-tab {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #aaa;
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0px dashed #aaa;
    }
    .avarta {
        flex: 0 0 30%;
        margin-right: 10px;
    }
    .info {
        line-height: 1.4;
        font-size: 15px;
        font-weight: bold;
        a {
            &.cate {
                color: #1bad53;
                position: relative;
                &:after {
                    content: "|";
                    padding: 0 5px;
                }
            }
        }
        .metadata {
            font-style: italic;
            color: #999;
            font-size: 12px;
            padding-top: 10px;
            font-weight: normal;
        }
    }
}

.item-big-col {
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
}
.list-mod {
    background: #f3f4f8;
    padding: 25px 20px;
    .title-gr {
        left: 0;
    }
    .row {
        margin: 0 -10px;
        >div {
            padding: 0 10px;
        }
    }
}
.box-chuyengia, .box-diendan {
    padding-bottom: 30px;
}

.list-phan {
    border: 1px solid #1bad53;
    border-radius: 0 0 10px;
    padding: 10px;
    border-top: 0;
}
.item-phanc {
    display: flex;
    .avarta {
        flex: 0 0 65px;
        margin-right: 10px;
        img {
            border: 1px solid #2db360;
        }
    }
    .info {
        a {
            display: block;
            color: #2db360;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
.head-phan {
    position: relative;
    img {
        height: 43px;
    }
    span {
        position: absolute;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Intro';
        top: 6px;
        left: 21px;
    }
}
.bar-phan {
    margin-bottom: 20px;
}

.box-new-bar {
    margin: 20px 0;
}
.item-small-bar {
    line-height: 1.3;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    .avarta {
        flex: 0 0 43%;
        margin-right: 10px;
    }
    .info {
        h3 {
            a {
                font-size: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .desc {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

.list-small-bar {
    max-height: 340px;
    overflow: auto;
    padding-right: 10px;
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #dcdcdc;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #f57723;
    }
}
.faq-bar {
    margin: 25px 0;
}